<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>EventsServlet</servlet-name>
        <servlet-class>em.EventsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventsServlet</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>em.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>